/*
  Base stylesheet for the slides
*/

* {
    margin:0;
    padding:0;
}

ul {
    padding-left:1em;
}

body {
    overflow-x:hidden;
    overflow-y:hidden;
}

html,body,section {
    height:100%;
}

article.previous {
    display:block;
}

article.current {
    display:block;
}

article.next  {
    display:block;
}

article {
    position:absolute;
    display:none;
    border:2px solid #222222;
    border-radius:10px;
    background:white;
    -moz-transition: -moz-transform 0.35s ease-out 0s;
    -webkit-transition: all 0.35s ease-out;
    font-size:1.5em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
        Helvetica, Arial, "Lucida Grande", sans-serif;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
    z-index:0;
}

article.preview {
    text-align:left;
    position:relative;
    display:block;
    padding:5%;
    margin:4% auto;
    background-image:none;
    min-height:10%;
    cursor:pointer;
}

article.preview:hover {
    border-color:red;
}


#menu {
    width:18%;
    padding-left:2%;
    padding-top:10px;
    border-left:2px solid black;
    background:white;
    display:block;
    position:absolute;
    left:80%;
    top:0%;
    z-index:1;
    -moz-transition: -moz-transform 0.35s ease-out 0s;
    -webkit-transition: all 0.35s ease-out;
    height:100%;
}

#preview {
    font-size:0.3em;
    width:16%;
    padding:2%;
    padding-top:10px;
    border-right:2px solid black;
    background:white;
    display:block;
    position:absolute;
    left:0%;
    top:0%;
    z-index:1;
    -moz-transition: -moz-transform 0.35s ease-out 0s;
    -webkit-transition: all 0.35s ease-out;
    text-align:center;
    -webkit-user-select:none;
    overflow-y:auto;
}

#preview > h1 {
    font-size:5em;
}

.button {
    font-size:3em;
    position:absolute;
    top:0%;
    background-color:gray;
    opacity:0;
    z-index:2;
    user-select:none;
    -moz-transition: -moz-transform 0.1s ease-out 0s;
    -webkit-transition: all 0.1s ease-out;
    -ms-user-select: none;
}

.leftbutton, .rightbutton {
    -webkit-user-select:none;
}

.button:hover {
    opacity:0.5;
}

#rightbutton {
    position:absolute;
    left:95%;
    width:5%;
    border-left:1px solid black;
}

#leftbutton {
    text-align:right;
    position:absolute;
    left:0%;
    width:5%;
    border-right:1px solid black;
}

#controlpanel {
    position:absolute;
    left:50%;
    top:0%;
    width:40%;
    margin-left:-20%;
    text-align:center;
    background-color:gray;
    border-radius:0 0 10px 10px;
    font-size:1.2em;
    opacity:0;
    -moz-transition: -moz-transform 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out;
    -ms-user-select: none;
}

#controlpanel:hover {
    opacity:0.6;
}

#controlpanel > span {
    padding:0 4px;
}


/* Various slide types */

/* two-column layout */
.two-column {
    display:inline;
}
.twocolumn > .left {
    float:left;
    width:48%;
    padding-right:2%;
}

.twocolumn > .right {
    float:right;
    width:48%;
    padding-left:2%;
}
